body {
    Font-family: "Lato", sans-serif;
    color: #ffffff;
}
main{
    margin: 50px;
    max-width: 1060px;
    padding: 0 10px;

}
h2{
    color:#234465;
    margin :10px;

}
main>p{
    font-size:16px;
    color: #333333;
    margin-bottom: 5px;
    Letter-spacing: 0;
    Width: 800px;

}
img {
    float: left;
    width: 180px;
    height: 100px;
    margin: 10px 50px 0 0;

}
header.container{
    margin: auto;
    padding: 0 10px;
    background:url(background-image.jpg)no-repeat center;
    Background-size: cover;
    height: 800px;
    text-align: center;

}
h1{
    font-size:  80px;
    padding: 80px 0;
    letter-spacing: 8px;

}
p{
    font-size: 27px;
    font-weigth: 100;
    margin: 20px;

}
.btn{
    color: rgb(255, 255, 255);
    background :none;
    border: 5px solid #ffffff;
    border-radius: 15px;
    padding: 15px 45px;
    font-size: 16px;

}
.btn:hover {
    background: #000;
    border-color: #000;
    Cursor: pointer;

}
body>footer{
    Background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    height: 80px;
    line-height: 80px;
    margin: 0px;
    text-align: center;

}
